{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}

    <section class="section container">
        <br>
        <div id="icons" class="row">
            <div class="col m2">
                <a href=""><i class="fas fa-brain fa-3x"></i>
                    <p>Brain</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="far fa-eye fa-3x"></i>
                    <p>Eyes</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="fas fa-heart fa-3x"></i>
                    <p>Heart</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="fas fa-bone fa-3x"></i>
                    <p>Bones</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="far fa-moon fa-3x"></i>
                    <p>Sleep</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="fas fa-sun fa-3x"></i>
                    <p>Skin</p>
                </a>

            </div>
        </div>
    </section>
    <!--MEDICINE-->
    <section class="section container">
        <h3>LIST OF MEDICINES</h3>
        <div class="row">
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/virus.jpg' %}" alt="">
                        <h1 class="card-title">VITAMIIN B12</h1>
                    </div>
                    <div class="card-content">

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>

                    </div>
                    <div class="card-action">
                        <a href="" class="btn-large">VIEW MORE</a>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/virus.jpg' %}" alt="">
                        <h1 class="card-title">B-COMPLEX</h1>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-action">
                        <a href="" class="btn-large">VIEW MORE</a>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/virus.jpg' %}" alt="">
                        <h1 class="card-title">VITAMIN C</h1>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-action">
                        <a href="" class="btn-large">VIEW MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/virus.jpg' %}" alt="">
                        <h1 class="card-title">VITAMIN A</h1>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-action">
                        <a href="" class="btn-large">VIEW MORE</a>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/virus.jpg' %}" alt="">
                        <h1 class="card-title">VITAMIN D</h1>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-action">
                        <a href="" class="btn-large">VIEW MORE</a>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/virus.jpg' %}" alt="">
                        <h1 class="card-title">VITAMIN E</h1>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-action">
                        <a href="" class="btn-large">VIEW MORE</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{%endblock%}