{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}

    <section class="section container">
        <br>
        <div id="icons" class="row">
            <div class="col m2">
                <a href=""><i class="fas fa-brain fa-3x"></i>
                    <p>Brain</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="far fa-eye fa-3x"></i>
                    <p>Eyes</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="fas fa-heart fa-3x"></i>
                    <p>Heart</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="fas fa-bone fa-3x"></i>
                    <p>Bones</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="far fa-moon fa-3x"></i>
                    <p>Sleep</p>
                </a>

            </div>
            <div class="col m2">
                <a href=""><i class="fas fa-sun fa-3x"></i>
                    <p>Skin</p>
                </a>

            </div>
        </div>
    </section>
    <!--MEDICINE-->
    <section class="section container">
        <h3>LIST OF DISEASES</h3>
        <div class="row">
            {%for i in object_list%}
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'images/virus.jpg' %}" alt="">
                        <h1 class="card-title">{{i.name}}</h1>
                    </div>
                    <div class="card-content">

                        <p>{{i.symptoms}}</p>


                    </div>
                    <div class="card-action">
                        <a href="" class="btn-large">VIEW MORE</a>
                    </div>
                </div>

            </div>
            {%endfor%}

    </section>
{%endblock%}